* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  position: static;
}
.navbar {
   width: 100vw; 
  /* height: 80px; 
  padding: 16px 220px 16px 220px;*/
  padding: 15px 20px;
  gap: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0px;
  background: rgba(4, 56, 115, 1);
}
.logo {
  background-image: url("./Assets/Logo.png");
  width: 191px;
  height: 34px;

  gap: 0px;
  opacity: 0px;
}
.nav-contennt {
  width: 980px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  gap: 60px;
  opacity: 0px;
}
.nav-contennt ul {
  display: flex;
  /* justify-content: space-between; */
  /* width: 551.5px;
    height: 20px;
    gap: 32px;
    opacity: 0px; */

  text-decoration: none;
}
.nav-contennt ul li {
  text-decoration: none;
  list-style: none;
  width: 117px;
  height: 24px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
.btns {
  width: 377px;
  height: 60px;
  gap: 24px;
  opacity: 0px;
}
.Login {
  width: 100px;
  height: 60px;
  padding: 16px 40px 16px 40px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 228, 146, 1);
}
.btn {
  width: 200px;
  height: 60px;
  padding: 16px 24px 16px 24px;
  gap: 20px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: rgba(79, 156, 249, 1);
  color: rgba(255, 255, 255, 1);
}
.main {
  width: 100vw;
  top: 92px;
  padding: 140px 220px 140px 220px;
  gap: 0px;
  opacity: 0px;
  background: rgba(4, 56, 115, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 640px;
  height: 200px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content h2 {
  width: 640px;
  height: 154px;
  gap: 0px;
  opacity: 0px;
  margin-top: 40px;

  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.content p {
  width: 640px;
  height: 60px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.main .img {
  width: 994px;
  height: 520px;
  gap: 4px;
  opacity: 0px;
  background: rgba(196, 222, 253, 1);
}

.sec-section {
  width: 100vw;

  top: 921px;
  padding: 140px 220px 140px 220px;
  gap: 80px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-section h1 {
  width: 600px;
  height: 174px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}
.sec-section p {
  width: 672px;
  height: 90px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
  display: flex;
}
.sec-section .img {
  width: 994px;
  height: 547px;
  gap: 0px;
  opacity: 0px;
  background: rgba(196, 222, 253, 1);
}
.third-sec {
  width: 100vw;
  top: 921px;
  padding: 140px 220px 140px 220px;
  gap: 100px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(4, 56, 115, 1);
}
.third-sec .content {
  width: 640px;
  height: 200px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.third-sec h1 {
  width: 697px;
  height: 87px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 87.14px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.third-sec p {
  width: 697px;
  height: 60px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.third-sec .img {
  width: 994px;
  height: 547px;
  gap: 0px;
  opacity: 0px;
  background: rgba(196, 222, 253, 1);
}
.fourthsec {
  width: 100vw;
  top: 2468px;
  /* padding: 140px 220px 140px 220px; */
  /* gap: 60px; */
  opacity: 0px;
}
 .first {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 50px;
} 
.fourthsec .first h1 {
  
  /* height: 87px; */
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 87.14px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}
.fourthsec .first p {
  
  height: 60px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}
.outerinner-container {
  width: 100vw;
  height: 761px;
  margin-top: 20px;
  
  opacity: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.outerinner-container .one,
.two,
.three {
  width: 31%;
  height: 570px;
  padding: 40px 44px 40px 44px;
  gap: 25px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 228, 146, 1);
  display: flex;
  flex-direction: column;
}
.outerinner-container .one:hover,
.two:hover,
.three:hover {
  width: 32%;
  height: 610px; 
  /* padding:10px 5px; */
  /* gap: 25px; */
  /* border-radius: 10px;
  opacity: 0px; */
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
  background: rgba(4, 56, 115, 1);
  color: rgba(255, 255, 255, 1);
}
.one:hover .contents h4,
.two:hover .contents h4,
.three:hover .contents h4 {
  color: rgba(255, 228, 146, 1);
}
.one:hover .contents p,
.two:hover .contents p,
.three:hover .contents p {
  color: rgba(255, 255, 255, 1);
}
.one:hover .contents #p1,
.two:hover .contents #p1,
.three:hover .contents #p1 {
  color: rgba(255, 255, 255, 1);
}
.one:hover #btn,
.two:hover #btn,
.three:hover #btn {
  background-color: rgba(79, 156, 249, 1);
  color: rgba(255, 255, 255, 1);
}

.outerinner-container .one .contents,
.two .contents,
.three .contents {
  /* width: 384.33px; */
  height: 153px;
  gap: 25px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contents p {
  /* width: 384.33px; */
  height: 36px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}

.contents h4 {
  /* width: 384.33px; */
  height: 44px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}

.contents #p1 {
  /* width: 384.33px; */
  height: 23px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}
 .sec-container {
  width: 100%;
  /* height: 300px; */

  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-container .text {
  /* width: 384.33px; */
  /* height: 20px; */
  /* gap: 30px; */
  margin-bottom: 16px;
  opacity: 0px;
  display: flex;
  
}
.text .img {
  width: 19px;
  height: 19px;
  margin-right: 10px;
  gap: 0px;

  opacity: 0px;
  /* border: 2px solid rgba(33, 37, 41, 1); */
  background-image: url("./Assets/Ckeck.png");
  background-size: cover;
}
.one:hover .text .img,
.two:hover .text .img,
.three:hover .text .img {
  background-image: url("./Assets/whitecheck.png");
}

.one #btn,
.two #btn,
.three #btn {
  width: 166px;
  height: 51px;
  padding: 16px 40px 16px 40px;
  gap: 0px;
  border-radius: 8px;

  color: rgba(33, 37, 41, 1);
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 228, 146, 1);
}

.fifth-container {
  width: 100vw;
  height: 450px;
  top: 3641px;
  padding: 140px 180px;
  gap: 100px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.five-one {
  width: 100%;
  height: 87px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  line-height: 87.14px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.five-two {
  width: 100%;
  height: 71px;
  gap: 10%;
  display: flex;

  justify-content: space-between;
  opacity: 0px;
}
.sixth-container {
  width: 100vw;
  height: 994.46px;
  top: 4194px;
  /* padding: 140px 100px ; */
  gap: 60px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.six-one {
  width: 100%;
  height: 84px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}
.six-inner-container {
  width: 90%;

  display: flex;
  gap: 20px; 
  margin-top:50px;
 

  justify-content: space-between;
  align-items: center;
}
.six-main {
  width: 35%;
  height: 498.46px;
  padding: 60px 40px;
  gap: 100px;
  border-radius: 10px;
  opacity: 0px;
  background: rgba(79, 156, 249, 1);

  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.six-main:hover{
    background: rgba(255, 255, 255, 1);

    
}
/* .six-two{
    width: 471.67px;
    height: 498.46px;
    padding: 60px 40px ;
    gap: 100px;
    border-radius: 10px ;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);

    
} */
.quote {
  width: 86px;
  height: 61.46px;
  margin-bottom: 20px;
  gap: 4px;
  opacity: 0px;
  background-image: url("./Assets/Quote.png");
}
.six-main:hover .quote{
  background-image:url("./Assets/Quote1.png");
}
.six-para {
  /* width: 391.67px; */
  height: 100px;
  gap: 0px;
  opacity: 0px;
  border-bottom: 2px solid  rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:  rgba(255, 255, 255, 1);
}
.six-main:hover .six-para{
    color: rgba(33, 37, 41, 1);
    border-bottom: 2px solid  rgba(33, 37, 41, 1);
}
.six-three {
  /* width: 383px; */
  /* height: 95px; */
  gap: 20px;
  opacity: 0px;
  margin-top: 40px;
  display: flex;
}
.six-img {
  width: 95px;
  height: 95px;
  gap: 0px;
  
  opacity: 0px;
  border-radius: 50%;
}
.six-content {
  width: 246px;
  height: 95px;
  gap: 15px;
  opacity: 0px;
}
.six-text {
  width: 246px;
  height: 36px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 37, 41, 1);
}
.texts {
  width: 246px;
  height: 40px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:  rgba(255, 255, 255, 1);
}
.six-main:hover .texts{
    color: rgba(33, 37, 41, 1);
}
.Slider{
    width: 60px;
height: 12px;
gap: 12px;
opacity: 0px;

}
.footer{
  width: 100vw;
height: 374px;
top: 5209px;
/* padding: 140px 220px 32px 220px; */
/* gap: 200px; */
opacity: 0px;
background: rgba(4, 56, 115, 1);
display: flex;
justify-content: center;
align-items: center;

}
.outer-footer{
    width: 80%;
height: 182px;
/* gap: 100px; */
opacity: 0px;
display: flex;
justify-content: space-between;

}
.one-footer{
    width:  205.25px;
height: 169px;
gap: 15px;
opacity: 0px;
}
.Logo{
    width: 191px;
height: 34px;
gap: 0px;
opacity: 0px;

}
.one-footer-para{
    /* width: 240px; */
height: 120px;
gap: 0px;
opacity: 0px;

font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(247, 247, 238, 1);

}
.two-footer{
    width: 205.25px;
height: 127px;
gap: 15px;
opacity: 0px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.para1{
    width: 68px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 21.78px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(247, 247, 238, 1);

}
.para2{
    width: 70px;
height: 20px;
gap: 0px;
opacity: 0px;

font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(247, 247, 238, 1);

}
.para3{width: 50px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
   
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(247, 247, 238, 1);

    }
.para4{
    width: 177px;
height: 20px;
gap: 0px;
opacity: 0px;

font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(247, 247, 238, 1);
}
.three-footer{
    width: 205.25px;
height: 127px;
gap: 15px;
opacity: 0px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.four-footer{
    width: 205.25px;
    height: 127px;
    gap: 15px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.five-footer{
    width:259px;
    height: 182px;
    gap: 23px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.five-footer h5{
    width: 155px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
   
font-family: Inter;
font-size: 28px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);

}
.five-footer p{
    width: 259px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
   
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);

}
.five-footer .btn{
    width: 186px;
height: 60px;
padding: 20px 40px 20px 40px;
gap: 10px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}